<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- ===== Déclaration des références ===== -->
    <bean id="VueG" class="fr.ufrsciencestech.panier.view.VueGSwing"></bean>
    <bean id="ControleurFruit" class="fr.ufrsciencestech.panier.controler.ControleurFruit"></bean>
    <!-- ===== Utilisation des références ===== -->
    <bean id="MVC" class="fr.ufrsciencestech.panier.Main">
        <property name="vueg" ref="VueG"/>
        <property name="controleur" ref="ControleurFruit"/>
    </bean>
</beans>